body {
    background-image: url('/img/background.jpg');
    font-family: 'Playpen Sans', cursive;
    font-weight: bolder
}
    
header {
    text-align: center;
    font-weight: bold;
    font-family: 'Playpen Sans', cursive;
    max-width: 800px;
    margin: 0 auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: white;
}

div h2 {
    text-align: center;
    font-weight: bold;
}

div a {
    color: #aa7d7a;
}

footer {
    text-align: center;
    font-size: small;
    margin-top: 20px;
    font-weight: bold;
}